<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mikesbiketoursamsterdam.com/wp-content/uploads/2021/05/A-bike-1.jpeg);">
  <div class="container">
    <h1>Rent a bike, explore the city with Bikeshare!</h1>
    <p>Get moving with Bikeshare: Affordable and convenient bike rentals for every traveler!</p>
    <div class="btn-wrapper">
      <a class="btn btn-flat" href="<%= new_user_session_path %>">Login</a>
      <span class="btn-subtext">No account? Sign up!</span>
    </div>
  </div>
</div>
