<footer>
  <p>© 2023 PaidFast Team</p>
  <ul>
    <li>
      <a href="https://github.com/Kolawoleakinmosin">
        <img src="https://avatars.githubusercontent.com/Kolawoleakinmosin?s=25" alt="Kolawoleakinmosin GitHub Profile" />
        Samuel
      </a>
    </li>
    <li>
      <a href="https://github.com/dereuckkarmen">
        <img src="https://avatars.githubusercontent.com/dereuckkarmen?s=25" alt="Dereuckkarmen GitHub Profile" />
        Karmen
      </a>
    </li>
    <li>
      <a href="https://github.com/polotime">
        <img src="https://avatars.githubusercontent.com/polotime?s=25" alt="Polotime GitHub Profile" />
        Paul
      </a>
    </li>
    <li>
      <a href="https://github.com/costaleandrop">
        <img src="https://avatars.githubusercontent.com/costaleandrop?s=25" alt="Costaleandrop GitHub Profile" />
        Leandro
      </a>
    </li>
  </ul>
</footer>
