<h1>This is my home page with all bike listings</h1>
<p><% @bikes.each do |bike| %></p>
<p><%= bike.title %></p>
<p><%= bike.user.first_name %></p>
<% end %>

<%= link_to "New bike", new_bike_path if policy(Bike).new? %>
