#plus {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none !important;
  &:hover {
    font-size: 50px !important;
  }
}

#link {
  text-decoration: none !important;
}

#cancel {
  color: red;
  font-size: 35px;

  &:hover {
    font-size: 40px;
  }
}
