#plus {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none !important;
  &:hover {
    font-size: 50px !important;
  }
}

#link {
  text-decoration: none !important;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

h6 {
  font-weight: 200;
}

h5 {
  font-weight: 300;
}

p {
  font-weight: 200;
}

body {
  color: #040816;
}
