footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px 20px;
  color: #666;
  font-size: 14px;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer li {
  margin: 0;
}

footer li:not(:last-child) {
  margin-right: 10px;
}

footer a {
  color: #666;
  text-decoration: none;
  font-weight: none;
}
